body {
    background-color:peachpuff;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px; 
    text-align: center;
    border: 10px solid green;
    border-radius: 100px;
    text-shadow: 10px 10px white;
}

p{
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    font-size: 30px;
}

